* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow: hidden;
    gap: 5px;
}

.item{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

@keyframes Color {
    0% {
        background-color: red;
    } 
    50% {
        background-color: green;
    }
    100% {
        background: blue;
    }
}